.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  width: 100%;
  margin: auto;
}
td,th{
  border: 1px solid #8e86b5;
}
table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
  margin-top: 20px;
  color: white;
}
caption{
  font-size: 2em;
  padding-bottom: 20px;
}
td{
  padding: 69px;
}
th{
  padding: 20px;
}
.section-equipe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px; 
  width: 100%;
}
.equipe{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.pdp{
  height: 25%;
  width: 30%;
}
h2{
  font-size: 2em;
}