.accueil-photos {
  background-color: white;
  padding: 80px;
}

.logo-accueil{
  width: 250px ;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  max-width: 1000px;
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}
.section-contact h2 {
  color:  #a5b4fc;
  text-align: center;
  margin-bottom: 50px;
}

.section-contact h4 {
  color :#a5b4fc;
  text-align: center;
  margin-bottom: 50px;
  font-weight: lighter;
}

form{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  color: white;
}
.form-nom-email{
  display: flex;
  flex-direction:row;
  margin-bottom: 20px;
}
.form-column{
  width: 150px;
  border-top: 50px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.input-nom {
  block-size: 20px;
  background-color:#1f2039;
  border-width: 2px;
  border-style: solid;
  border-color:#a5b4fc;
}

.textarea{
  background-color: #1f2039;
  border-color: #a5b4fc;
  border-width: 2px;
  border-style: solid;
}

::placeholder {
  color: #5d6799;
  padding-left: 5px;
  padding-top: 5px;
}

.input-mail{
  block-size: 20px;
  border-style: solid;
  border-color: #a5b4fc;
  border-width: 2px;
  background-color: #1f2039 ;
}
input[type='submit'] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}
input{
  border-radius: 10px;
} 
textarea{
  border-radius: 15px;
}
@media screen and (max-width: 996px) {
  .accueil-introduction {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .accueil-introduction div {
    padding-right: 0;
    text-align: center;
    order: 2;
  }

  .accueil-introduction img {
    order: 1;
    margin-bottom: 20px;
    width: 100%;
  }

  .accueil-photos {
    padding: 20px;
  }

  .accueil-photos div {
    flex-direction: column;
  }

  .section-contact {
    padding: 50px 20px;
  }

  .form-nom-email {
    flex-direction: column;
    gap: 0;
  }
}