* {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

.cta {
  display: inline-block;
  background: transparent;
  border-style: solid;
  border-color:#a5b4fc;
  color: #a5b4fc;
  border-radius: 50px;
  padding: 20px 50px;
  cursor: pointer;
  transition: background-color 300ms, 300ms, 300ms;
  transition: 300ms ease;
}

.cta:hover {
 color:black;
 background-color: white;
 border-color: white;
 scale: 1.05;
}

.accueil {
  color: black;
  transition: 200ms;
}

.accueil:hover {
  color: #a5b4fc;
  animation-name: fondu;
  animation-duration: 1s;
}

.à-propos {
  color: black;
  transition: color 200ms;
}
.à-propos:hover{
  color:#a5b4fc;
}

.portfolio{
  color: black;
  transition: color 200ms;
}

.portfolio:hover{
  color: #a5b4fc;
}

.service {
  color: black;
  transition: color 200ms;
}

.service:hover {
  color: #a5b4fc;
}


.lien-icone {
  margin-left: 20px;
  transition: 300ms;
}

.lien-icone:hover {
  opacity: 0.5;
}

section {
  padding: 80px;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
}
.lien{
  color: white;
  padding: 10px 20px;
  border: 4px double #cccccc;
  border-radius: 10px;
  background-color: #1f2039;
  transition: color 200ms;
}
.lien:hover{
  color: #a5b4fc; 
  background-color: #373855;
}
@media screen and (max-width: 996px){
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav img {
    margin-bottom: 20px;
  }

  header,
  footer {
    padding: 20px 20px;
  }

  h1 {
    font-size: 2em;
  }

  section {
    padding: 50px 20px 50px 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.logo-accueil{
  width: 5em;
  height: 5em;
}